.row.cmp-feature-list
  - if defined? current_page.data.feature_list_title
    .row.feature-list-top-section
      .col-md-8.col-md-offset-2.text-center.u-margin-bottom-sm
        %h3 #{current_page.data.feature_list_title}
        - if defined? current_page.data.feature_list_subtitle
          %h4 #{current_page.data.feature_list_subtitle}
  .row.feature-list-feature-section
    - data.components.feature_list.each do |feature_list_item|
      -if feature_list_item.identifier.include?("#{current_page.data.data_identifier}")
        - if feature_list_item.feature_icon
          .col-md-1.feature-list-icon
            %img{loading: "lazy", src: "#{feature_list_item.feature_icon}"}
        .col-md-4.feature-list-item
          %h4 #{feature_list_item.title}
          %p #{feature_list_item.description}
          %ul
            %li #{feature_list_item.feature1}
            %li #{feature_list_item.feature2}
            %li #{feature_list_item.feature3}
        .feature-list-item-end
