### Package

The three year goals of the Package group (high-level [roadmap](https://gitlab.com/groups/gitlab-org/-/roadmap?scope=all&utf8=✓&state=opened&label_name[]=devops%3A%3Apackage); [SMAU (Stage Monthly Active Users) dashboard](https://app.periscopedata.com/app/gitlab/527857/Package-GitLab.com-Stage-Activity-Dashboard---DAU-(7-day-rolling-average)) are:

1. Build a product, that within three years, is your single source of truth for storing and distributing images and packages.
1. Unify the Container Registry and the Package Registry to create a seamless user experience for building, testing and releasing code. We will achieve this by expanding the Dependency Proxy to allow you to [create remote and virtual registries](https://gitlab.com/groups/gitlab-org/-/epics/2614). This will allow you to easily publish and install packages and images using a single, logical URL and reduce friction when consuming external packages. 
1. [Build integration points and documentation](/handbook/product/product-processes/#community-considerations) to enable our customers and the GitLab Community to more easily contribute. This is the best way to achieve adding support for all of the most common [package manager formats](https://gitlab.com/groups/gitlab-org/-/epics/1245) in a timely manner.
1. Improve the performance and reliability of builds by reducing reliance on external dependencies.

The details of how we'll achieve different elements of this can be found in the individual category pages below:

#### Package Stage Categories
<%= partial("direction/categories-content", :locals => { :stageKey => "package" }) %>

#### Pricing
<%= partial("direction/ops/tiering/package") %>
